main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(255, 255, 255);
    width: 75%;
    min-height: 40vh;
    border-radius: 5px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
}

.parent-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* margin-right: 2em; */
    padding: 20px 20px 20px 0px;

}

.title-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 24px;
    color: black;
    font-weight: 500;
}

.content{
    margin-bottom: 4px;
    text-align: justify;
}

.button-resumen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn-resumen{
    height: 34px;
    min-width: 150px;
    background-color: #3C36A5;
    color: #fff;   
}

.button-download{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-descargar{
    width: 140px;
    height: 44px;
    background-color: #31A84F;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    transform: scale(0.9);
}

.resumen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.parent-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(255, 255, 255);
    width: 75%;
    max-height: 80vh;
    border-radius: 5px;
    padding: 20px;
}

textarea{
    width: 100%;
    min-height: 55vh;
    max-height: 55vh;
    text-align: justify;
    overflow-y: auto;
    border: none;
}

textarea::-webkit-scrollbar {
    -webkit-appearance: none;
}

textarea::-webkit-scrollbar:vertical {
    width:7px;
}

textarea::-webkit-scrollbar-button:increment {
    display: none;
} 

textarea::-webkit-scrollbar:horizontal {
    height: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color:  rgba(193, 193, 193, 0.8);
    border-radius: 20px;
}

textarea::-webkit-scrollbar-track {
    border-radius: 10px;  
}



@media (max-width:600px){
    main{
        margin-top: 15vh;
    }

    .parent{
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .icon{
        display: none;
    }

    .parent-3 {
        width: 90%;
        max-height: 80vh;
        border-radius: 5px;
        padding: 20px;
    }
}