section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.article-1{
    min-width: 80vw;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 40vh;
    overflow: auto;
    flex-direction: column;
}

.article-2{
    min-width: 80vw;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 45vh;
    overflow: auto;
    flex-direction: column;
    padding: 0;
}

main{
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.1);
    width: 80vw;
    height: 60vh;
    padding: 0px;
    padding-top: 10px;
}

.title{
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 500;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 80%;
    overflow: auto;
    flex-direction: column;
    padding-top: 20px;
}

.button{
    height: 44px;
    width: 130px;
    background-color: #3C36A5;
    font-weight: 550;
    border: none;
    color: #fff;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    border: none;
}

button:hover{
  cursor: pointer;
  transform: scale(0.9);
}

.delete{
    margin-left: 60px; 
    margin-bottom: -20px;
    width: 40px;
}
 
.archivo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(0.9);
    min-width: 60vw;
}

.detalles{
    width: 60vw;
    /* height: 25vh; */
    border-radius: 20px;
    background: #fff;
    padding: 20px;
}

.detalles-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
}

.sectionTexto{

    align-items: center;
    min-width: 90%;
    text-align: justify;
    padding: 20px;
    color: #000000;
}

.icono{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

}

.title-content{
    margin-bottom: 4px;

}

.parrafo{
    color: #FFFF;
    font-size: medium;
    font-family: Arial;
    width: 100%;
}

@media (max-width:600px){
    .input2{
        width: 100%;
    }

    main{
        margin-top: -200px;
        width: 90vw;
        height: 45vh;
        padding: 0px;
        padding-top: 10px;
    }
}