section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.article-1{
    margin-top: 120px;
    min-width: 80vw;
}

.article-2{
    margin-top: 120px;
    min-width: 80vw;
}

main{
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.1);
    /* opacity: 0.5; */
    width: 80vw;
    height: 70vh;
    padding: 0px;
    padding-top: 10px;
}

.title{
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 500;
}



 .input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 80%;
    margin-top: 100px;
    margin-left: 7em;
    margin-right: 7em;
}

.button{
    height: 44px;
    width: 130px;
    background-color: #3C36A5;
    font-weight: 550;
    border: none;
    color: #fff;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

button:hover{
  cursor: pointer;
  transform: scale(0.9);
}

.delete{
    margin-left: 60px; 
    margin-bottom: -20px;
    width: 40px;
}

 
.archivo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(0.9);
    min-width: 60vw;
}

.detalles{
    width: 60vw;
    /* height: 25vh; */
    border-radius: 20px;
    background: #fff;
    padding: 20px;
}


.detalles-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    /* opacity: 0.5; */
    /* width: 180vh; */
    width: 100%;
    padding-top: 10px;
}

.sectionTexto{

    align-items: center;
    min-width: 90%;
    height: 90%;
    text-align: justify;
    padding: 20px;
    color: #000000;
}



.icono{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;

}

.title-content{
    margin-bottom: 4px;

}


.parrafo{
    color: #FFFF;
    font-size: medium;
    font-family: Arial;
    width: 100%;
}

