<div class="contenedor">
<main style="display: flex; justify-content: center; align-items: center;">
    <section>
        <article>
            <h1 align="center">Iniciar Sesion</h1>
            <form action="">
                <div class="input-icono">
                    <input type="text" placeholder="Nombre de Usuario">
                </div>
                <div class="input-icono2">
                    <input type="password" placeholder="Contraseña">

                </div>
                <p (click)="toRegistro()">
                    Crear Cuenta
                </p>
                <div class="btn">
                    <button class="button" (click)="toCargar()"> Acceder</button>
                </div>

            </form>
        </article>
    </section>
</main>
</div>