<body align="center">
    <section>
         <article>
             <h1 align="center">Iniciar Sesion</h1>
             <form action="">
             <div class="input-icono">
             <input type="text" placeholder="Nombre de Usuario">
         </div>
         <div class="input-icono2">
             <input type="password" placeholder="Contraseña">
             
         </div>
         <p (click)="toRegistro()">
                 Crear Cuenta
             </p>
         <main class="btn">
             <button class="button" (click)="toCargar()"> Acceder</button>
         </main>
        
     </form>
         </article>
    </section>
 </body>