.contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(60, 54, 165, 0.5);
    width: 25%;
    min-height: 350px;
    padding: 0px;
    min-width: 280px;
    
}

article{
    width: 80%;
}

div{
    margin-bottom: 30px;
    background-color: #fff;
    min-height: 33px;
}

input{
    background-color: #fff;
    width: 100%;
    height: 33px;
    margin-left: 10px;
    opacity: 1;
    border: 1px solid red;
}


.input-icono {
    margin-left: -14px;
    background-image: url('Vector.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 250px;
    padding-left: 29px;
    height: 35px;
  }
  .input-icono2 {
    margin-left: -14px;
    background-image: url('Vector (1).png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 250px;
    padding-left: 29px;
    height: 35px;
  }
  .input-icono2 input {
    width: 100%;
    font-size: 0.9em;
    border: none;
  }
  .input-icono2 input:focus {
    outline: none;
  }

  .input-icono input {
    width: 100%;
    font-size: 0.9em;
    border: none;
  }
  .input-icono input:focus {
    outline: none;
  }

.button{
    height: 34px;
    width: 100px;
    background-color: #3C36A5;
    color: #fff;
    font-weight: 550;
    border: none;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

button:hover{
  cursor: pointer;
  transform: scale(0.9);

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: -28px; 
    margin-bottom: 40px;
    padding: 0px; 
    display: flex; 
    justify-content: flex-end; 
    width: 100%;
    color: #fff;
}

p:hover{
  cursor: pointer;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}


@media (max-width: 1200px){
  section{
    min-height: 50vh;
    width: 280px;
    margin-right: 3em;
    margin-left: 3em;
}
}