.parent {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
    background-color: rgba(60, 54, 165, 0.5);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;
    max-height: 80vh;
    padding: 0px;
    margin-top: 5vh;
    overflow: auto;
    border-radius: 5px;
}

.parent::-webkit-scrollbar {
    -webkit-appearance: none;
}

.parent::-webkit-scrollbar:vertical {
    width:7px;
}

.parent::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.parent::-webkit-scrollbar:horizontal {
    height: 10px;
}

.parent::-webkit-scrollbar-thumb {
    background-color:  rgba(60, 54, 165, 0.8);
    border-radius: 20px;
}

.parent::-webkit-scrollbar-track {
    border-radius: 10px;  
}


.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-texto{
    align-items: center;
    min-width: 65%;
    height: 90%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
    padding: 0px;
    color: #FFFF;
}


.title{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}


.content{
   color: #fff;
   font-size: 20px;
    text-align: justify;
}

svg{
    margin-left: 2em;
}

.parrafo{
    color: #FFFF;
    font-size: medium;
    font-family: Arial;
    width: 100%;
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
}


.item-Carrusel{
    display: grid;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 60vw;
}



@media (max-width:600px){
    .parent {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-height: 70vh;
        max-height: 80vh;
        padding: 0px;
        margin-top: 4vh;
    }

    .icon{
        display: none !important;
    }

    .item-Carrusel{
        display: grid;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 75vw;
        margin-right: 2em;
        margin-left: 2em;
    }
}