

<div class="container">
    
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            
          <div class="nav-title">
        <img src="Gabriel_Logo5.png">
           
           
          </div>
          <div class="nav-title1" (click)="toHome()">
            GABRIEL
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <div class="nav-links">
            <a (click)="toCargar()" target="_blank">Conversar</a>
            <a (click)="toNosotros()" target="_blank">Sobre nosotros</a>
            
                 
      
        </div>
    </div>
</div>